
.backdrop {
  position: fixed;
  top: 75px;
  left: 0;
  right: 0;
  height: 100%;
  margin: 0 auto;
  z-index: 1001;
  background: #f6f6f6;
  opacity: 0;
  visibility: hidden;
}

.backdrop.show {
  opacity: 1;
  visibility: visible;
  display: flex;
  justify-content: center;
}